* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(98, 185, 255);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  font-size: 15pt;
  margin: 10px;
}

h1 {
  font-size: 25pt;
  color: white;
}

h2 {
  font-size: 20pt;
  color: white;
}

h3 {
  font-size: 15pt;
  color: white;
}

p {
  font-size: 13pt;
  color: white;
}

form {
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20pt;
  padding: 10px;
  margin: 10px;
}

input {
  font-size: 20pt;
}
